<title>Word Frequency Form</title>
<h1>How many times does a word appear in a given string?</h1>
<form action='/results'>
  <div class="form-group">
     <label for="object">Enter the string to evaluate (ex. My cat is a good cat):</label>
     <input id="object" name="object" class="form-control" type="text">
     <label for="argument">Enter your word to be counted (ex. cat):</label>
     <input id="argument" name="argument" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Count</button>
</form>
