<title>Word Frequency Results</title>
<h1>Here are your results:</h1>
<h2>Your word appears <b><%= @results %></b> time(s) in your inputed sentence</h2>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<figure><img src='/img/cat.jpg' alt='A photo of a cat'></figure>
